<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-material-design.min.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/material.min.js"></script>
  </body>
</html>
